.join-div {
    width: 80%;
    max-width: 700px; 
    height: 60vh;
    border: 1px solid darkgray;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    margin-top: 2vw;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.join-div h3{
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.5em;

}

.join-content{
    width: 100%;
}

.join-table,
.join-table tr,
.join-table td{
 text-align: center;

}

.join-table {
    margin: auto;
    border-collapse: collapse;
    width: 60%;
}

.join-table td{
    border: 1px solid lightgray;
    font-size: 1em;
}
    

.join-table input{
    width: 98%;
    border: none;
    height: 5vh;
    padding: 5px;
    outline: none;
}

.join-btn{
    margin-top: 15px;
}

.join-btn button{
    width: 60%;
    padding: 15px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 1em;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.join-btn button:hover{
    background-color: #0056b3;
}


/* 유효성 검사 글자 */
.feedback{
    font-size: 0.65rem;
    margin-top: 3px;
    visibility: hidden;
  }
  
  .feedback.error{
    color: red;
    visibility: visible;
  }
  
  .feedback.good{
    color: rgba(33, 156, 49);
    visibility: visible;
  }



@media (max-width: 768px) {
    .join-div {
        width: 80%;
        padding: 15px;
    }

    .join-content > input, 
    .join-btn button {
        width: 70%;
    }

    .join-div h3{
        font-size: 1.2em;
    }

    .join-table{
        width: 70%;
    }
    .join-table input{
        width: 90%;
        font-size: 0.7em;
    }
    .join-btn button{
        font-size: 0.8;
    }
}

@media (max-width: 480px) {
    .join-div {
        width: 80%;
        padding: 15px;
    }

    .join-content > input, 
    .join-btn button {
        width: 70%;
    }

    .join-div h3{
        font-size: 1.2em;
    }

    .join-table{
        width: 70%;
    }
    .join-table input{
        width: 90%;
        font-size: 0.7em;
    }
    .join-btn button{
        font-size: 0.8;
    }

}
